.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(24px, 4vw, 64px);
  box-sizing: border-box;
  overflow-x: hidden;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url('/portfolio/images/bkg.jpg');
  aspect-ratio: 16/8;
}

.mainInformation {
  width: 90%;
  padding: clamp(16px, 4vw, 48px) clamp(16px, 5vw, 64px);
  background-color: white;
  border-radius: 24px;
  display: flex;
  gap: clamp(16px, 2vw, 48px);
  animation: slideDown 1.5s cubic-bezier(0.25, 1, 0.5, 1);
}

@keyframes slideDown {
  0% {
    transform: translateY(-225px);
    opacity: 0;
    transition: opacity 1.5s ease;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 520px) {
  .home {
    aspect-ratio: 9/11;
  }
  .mainInformation {
    flex-direction: column;
  }
}

.avatar {
  width: clamp(64px, 16vw, 192px);
  height: clamp(64px, 16vw, 192px);
  border-radius: 50%;
}

.projects {
  width: 90%;
  gap: clamp(16px, 4vw, 48px);
  display: flex;
  flex-direction: column;
}

.project {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 2vw, 48px);
  background-color: rgb(241, 249, 255);
  padding: clamp(16px, 4vw, 48px) clamp(16px, 5vw, 64px);
  border-radius: 28px;
}

.projectLink {
  text-decoration: none;
  color: rgb(0, 142, 135);
}

.projectImages {
  display: flex;
  gap: clamp(16px, 3vw, 32px);
  overflow-x: auto;
}

.projectImage {
  height: clamp(256px, 32vw, 512px);
  width: auto;
}

.projectAnimation {
  transition: transform 0.5s ease;
  cursor: pointer;
}

.projectAnimation:hover {
  transform: translateY(-20px);
}

.projectMore {
  text-align: center;
  background-color: rgb(42, 216, 210);
  padding: clamp(8px, 2vw, 24px) 0;
  border-radius: 16px;
  color: white;
}

.projectSummary {
  display: flex;
  gap: clamp(16px, 2vw, 48px);
  border-radius: 28px;
}

.projectSummary>img {
  width: 16%;
  height: 16%;
}

.dialog {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  background-color: rgb(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.dialogContent {
  width: clamp(80%, calc(95% - 15% * min((100vw - 420px) / 300px, 1)), 95%);
  height: clamp(80%, calc(95% - 15% * min((100vw - 420px) / 300px, 1)), 95%);
  border-radius: 24px;
  position: relative;
  background-color: rgb(241, 249, 255);
  overflow-y: auto;
  scrollbar-width: none;
}

.dialogClose {
  width: clamp(12px, 1.4vw, 32px);
  height: auto;
  position: absolute;
  right: clamp(24px, 1.4vw, 32px);
  top: clamp(24px, 1.4vw, 32px);
  cursor: pointer;
}

.langOrFramework {
  padding: clamp(8px, 2vw, 16px) clamp(24px, 3vw, 46px);
  /* background: linear-gradient(to right, #88cdff, #58b9ff, #80d7ff); */
  background-color: #4eb09b;
  border-radius: 20px;
  color: #ffffff;
}